<label for="cc" style="display:block;margin-bottom:4px">Credit Card</label>
<input
  id="cc"
  type="text"
  name="cc"
  [(ngModel)]="cc"
  pInputText
  [pKeyFilter]="ccRegex"
  [pValidateOnly]="true"
  placeholder="1234-1234-1234-1234"
  style="margin-right: .5em"
/>

<ngx-extended-pdf-viewer
  [src]="https:  //vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf"
  [useBrowserLocale]="true"
></ngx-extended-pdf-viewer>

<!-- <p-message
  severity="error"
  text="Not a valid number"
  [@errorState]="form.dirty && !form.valid ? 'visible' : 'hidden'"
></p-message> -->

<h5>Single Selection</h5>

<!-- <pdf-viewer
  [src]="pdfSrc"
  [render-text]="true"
  [original-size]="false"
  style="width: 400px; height: 500px"fdd
  [external-link-target]="'blank'"
></pdf-viewer> -->

<p-selectButton [options]="options" [(ngModel)]="value1"></p-selectButton>

<h5>Multiple Selection</h5>
<p-selectButton
  [options]="paymentOptions"
  [(ngModel)]="value2"
  multiple="multiple"
  optionLabel="name"
></p-selectButton>

<h5>Custom Template</h5>
<p-selectButton [options]="justifyOptions" [(ngModel)]="value3">
  <ng-template let-item>
    <i [class]="item.icon"></i>
  </ng-template>
</p-selectButton>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <input type="text" pInputText pKeyFilter="int" placeholder="Integers" />
  </div>
  <div class="ui-g-12 ui-md-4">
    <input type="text" pInputText pKeyFilter="num" placeholder="Numbers" />
  </div>
  <div class="ui-g-12 ui-md-4">
    <input type="text" pInputText pKeyFilter="money" placeholder="Money" />
  </div>
  <div class="ui-g-12 ui-md-4">
    <input type="text" pInputText pKeyFilter="hex" placeholder="Hex" />
  </div>
  <div class="ui-g-12 ui-md-4">
    <input type="text" pInputText pKeyFilter="alpha" placeholder="Alphabetic" />
  </div>
  <div class="ui-g-12 ui-md-4">
    <input
      type="text"
      pInputText
      pKeyFilter="alphanum"
      placeholder="Alphanumberic"
    />
  </div>
  <div class="ui-g-12 ui-md-4">
    <input
      type="text"
      pInputText
      [pKeyFilter]="blockSpecial"
      placeholder="Block # < > * !"
    />
  </div>
  <div class="ui-g-12 ui-md-4">
    <input
      type="text"
      pInputText
      [pKeyFilter]="blockSpace"
      placeholder="Block space key"
    />
  </div>
</div>
